# Verdaccio registry for @soostori/* packages only
@soostori:registry=https://registry.nextmavens.com/
//registry.nextmavens.com/:_authToken=NmVkOTliNWM3YzkzMWNiMDFmZmY5MzE2M2I4MmI0ZDY6MDJjNDBiN2ZiMzkyNmYyYzljMDUyMDliMTJmMTNhM2M5MGNlMGM=
# pnpm v11: allow build scripts for native modules via .npmrc
onlyBuiltDependencies=@parcel/watcher,unrs-resolver
